@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

body {
  margin: 0;
  font-family: Roboto -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Header{
  z-index: 10;
  position: fixed;
  width: 100%;
  padding: 0 100px 0 20px;
background-color: #020203!important;
height: 100px!important;
-webkit-box-shadow: -1px -2px 3px 6px rgba(0,0,0,0.25); 
box-shadow: -1px -2px 3px 6px rgba(0,0,0,0.25);
}

.Header a{
  top: 0;
  font-family: Roboto;
  font-weight: 500;
  Color:  white!important;
  font-size: 23px;
}

.Header-sidemenu{
  position: fixed!important;
  height: 100%;
  width: 100px;
  background-color: #020203!important;
}

.Content{
  margin-top: 100px;
}

.Welcome{
  margin:  60px 0 70px 0;
}

.Welcome h1{
  margin-top: 70px;
  font-size: 48px;
}

.Welcome p{
  margin: 30px 0 30px 0;
}

.Welcome span{
  color: #FF0101;
}

.Header-sidemenu .nav-link {
  width: 60px;
  background-color: white;
  height: 60px;
  border-radius: 10px;
  margin: 20px;
}


.NumberInfo{
  margin: 0px 0px 30px 0px;
  display: flex;
  padding-left: 55px;
  justify-content: start;
  align-items: center;
  background-color: #FBFBFB;
  border-radius: 12px;
  width: 325px;
  height: 150px;
}
.NumberInfoContent{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  margin-bottom: 0px;
}
.ValueNumber{
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 0px;
}

.ValueTitle{
  font-size: 14px;
  font-weight: 500;
  color: #74798C;
  margin-bottom: 0px;
}

.NumberIconDiv{
  width: 80px;  
  height: 80px;
  margin-right: 35px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 21px;
}
.d-flex.justify-content-between.Header.navbar.navbar-expand.navbar-dark{
  position: fixed;
  top: 0;
}

.recharts-responsive-container {
  background-color: #fbfbfb;
  padding: 20px 0px 20px 0px;
  border-radius: 8px;
}